<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail OMDB</title>
    <link rel="stylesheet" href="public/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/omdb.css">
</head>
<body onload="detail2()">
    <div id="navbar">
        <div class="logo-white">
            <a href="belajaromdb2.html">LOGO</a>
        </div>
        <div class="menu">
            <ul class="wrapper-list-menu-white">
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#product">PRODUCTS</a>
                </li>
                <li>
                    <a href="#articles">ARTICLES</a>
                </li>
                <li>
                    <a class="subscribe" href="#subscribe">SUBSCRIBE</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row detail-head">
            <div class="col-md-8 judul">
            </div>            
            <!-- <div class="col-md-4">                
            </div> -->
            <div class="col-md-4 rating">                                             
            </div>
        </div>

        <div class="row detail-body">
            <div class="col-md-3 image-poster">
                
            </div>
            <div class="col-md-9 desc-movie">
                <div class="wrapper-body">
                    <div class="row genre">
                        <div class="col-md-12 genre-list">
                            <ul class="genre-list-ul">
                            </ul>
                        </div>
                    </div>
                    <div class="row desc">
                        <div class="col-md-12 desc-list">
                        </div>
                    </div>
                    <div class="row stars-2">
                        <div class="col-md-12 stars">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tittle-related">
            <div class="col-md-12">
                <h5>Suggested Movie</h5>
            </div>
        </div>

        <div class="row card-movie">
        </div>
        <div class="pagi">
            <ul class="ulpaging">

            </ul>
        </div>
    </div>
    <div class="footer-green">
        <div class="footer-green-menu">
            <ul class="wrapper-footer-menu">
                <li><a href="#about">About</a></li>
                <li><a href="#articles">Articles</a></li>
                <li><a href="latihancss2.html">Home</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="public/js/scriptomdb.js"></script> 
</body>
</html>