<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
    <link rel="stylesheet" href="public/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="public/plugin/fontawesome/css/all.css">
    <link rel="stylesheet" href="public/css/style3.css">
</head>
<body onload="detaillatihan3()">
    <div id="navbar">
        <div class="logo-white">
            <a href="latihancss3.html">LOGO</a>
        </div>
        <div class="menu">
            <ul class="wrapper-list-menu-white">
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#product">PRODUCTS</a>
                </li>
                <li>
                    <a href="#articles">ARTICLES</a>
                </li>
                <li>
                    <a class="subscribe" href="#subscribe">SUBSCRIBE</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row detail-content">
            <div class="col-md-3 image-product">
                <div class="image"></div>
            </div>
            <div class="col-md-9 description-product">
                <div class="row wrapper-description-product">
                    <div class="col-md-12 title">
                        <p>Judul</p>
                    </div>
                    <div class="col-md-12 description">
                        <div class="row description-det">
                            <div class="col-md-1">Description</div>
                            <div class="col-md-1 titikdua">:</div>
                            <div class="col-md-9 desc-detail">Deskripsi1</div>
                        </div>
                    </div>
                    <div class="col-md-12 price">
                        <div class="row price-det">
                            <div class="col-md-1">Price</div>
                            <div class="col-md-1 titikdua">:</div>
                            <div class="col-md-9 price-detail">Rp 25.000,-</div>
                        </div>
                    </div>
                    <div class="col-md-12 qty">
                        <div class="row qty-det">
                            <div class="col-md-1">Quantity</div>
                            <div class="col-md-1 titikdua">:</div>
                            <div class="col-md-9 qty-detail">50</div>
                        </div>
                    </div>
                    <div class="col-md-12 title">
                        <button type="button" class="btn buy"><i class="fas fa-shopping-cart"></i> Buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 title-slider text-center mt-5">
                <h5><b>Slider Image</b></h5>
            </div>
            <div class="col-md-12 slider-image">
                <div id="carouselExampleIndicators" class="carousel slide slide-form" data-bs-ride="carousel">
                    <div class="carousel-inner slide-format">
                      <div class="carousel-item active slide-item">
                        <div class="row slide-1">
                            <div class="col-md-4 img-slide">
                                <div class="image-item" ></div>
                            </div>
                            <div class="col-md-4 img-slide">
                                <div class="image-item" ></div>
                            </div>
                            <div class="col-md-4 img-slide">
                                <div class="image-item" ></div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item slide-item">
                        <div class="row slide-1">
                            <div class="col-md-4 img-slide">
                                <div class="image-item" ></div>
                            </div>
                            <div class="col-md-4 img-slide">
                                <div class="image-item" ></div>
                            </div>
                            <div class="col-md-4 img-slide">
                                <div class="image-item" ></div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-md-12 title-ulas">
                <h5><b>Ulasan</b></h5>
            </div>

            <div class="col-md-12 content-ulas">                

            </div>

            <div class="col-md-12 bottom"></div>

        </div>
    </div>
    <script type="text/javascript" src="public/plugin/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="public/js/data.js"></script>
    <script type="text/javascript" src="public/js/script.js"></script>
</body>
</html>