<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar HTML dan Javascript</title>
    <link rel="stylesheet" href="public/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="public/plugin/fontawesome/css/all.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body onload="latihan3()">
    <div id="navbar">
        <div class="logo-white">
            <a href="latihancss2.html">LOGO</a>
        </div>
        <div class="menu">
            <ul class="wrapper-list-menu-white">
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#product">PRODUCTS</a>
                </li>
                <li>
                    <a href="#articles">ARTICLES</a>
                </li>
                <li>
                    <a class="subscribe" href="#subscribe">SUBSCRIBE</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row banner">
            <div class="col wrapper-banner position-relative">                
                <div class="box-image">                
                    <img src="" alt="">
                </div>
                <div class="box-text-banner position-absolute top-50 start-50 translate-middle">
                    <div class="text-center">
                        <h1 class="art tittle-h1-banner">ART OF PLANT</h1>
                        <h5 class="description-p-banner">ALL ABOUT ART OF NATURE</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-list-new">
            <div class="row product-list-new mt-3" id="articles">
                <div class="col-12 text-articles">
                        <h6 class="text-center">Products</h6>
                </div>
                <div class="row wrapper-box-new">
                </div>                
                <div class="pagi">
                    <ul class="ulpaging">

                    </ul>
                </div>
            </div>
        </div>             
    </div>
    <div class="footer-green">
        <div class="footer-green-menu">
            <ul class="wrapper-footer-menu">
                <li><a href="#about">About</a></li>
                <li><a href="#articles">Articles</a></li>
                <li><a href="latihancss2.html">Home</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="public/plugin/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="public/js/data.js"></script>
    <script type="text/javascript" src="public/js/script.js"></script>
</body>
</html>